@import url('https://fonts.cdnfonts.com/css/amiga-forever');

body {
  background-image: url("../imagens/MenuFundo.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Amiga Forever', sans-serif;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.menu {
  border: solid rgb(56, 8, 8) 10px;
  width: 800px;
  height: 150px;
  background-image: url("../imagens/fundoCaixaMenu.jpg");
  background-size: cover;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.fundo-preto {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.658);
  transition-duration: 2s;
  opacity: 0;
  visibility: hidden;
}

.ativado {
  opacity: 1;
  visibility: visible;
}

.creditos {
  position: absolute;
  width: 600px;
  height: 400px;
  background-image: linear-gradient(rgb(90, 19, 19), rgb(185, 43, 43));
  border: 6px solid rgb(37, 18, 5);
  border-radius: 10px;
  transform: translateX(1000px);
  transition: 1s ease;
  list-style: circle;
  color: white;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}


.creditos div:nth-of-type(2) {
  padding-inline: 40px;
}

.creditos div:nth-of-type(2) div {
  font-size: 12px;
  padding: 25px;
  background-color: rgb(68, 15, 15);
  max-height: 300px;
  overflow: auto;
}

.creditos ul {
  margin-top: 10px;
  margin-bottom: 40px;
  color: rgb(196, 106, 65);
}

.creditos .texto-sobre {
  color: rgb(196, 106, 65);
  margin-top: 10px;
}

.creditos-ativado {
  pointer-events: auto !important;
  opacity: 1;
  transform: translateX(0px);
}

.voltar-creditos {
  width: 40px;
  height: 40px;
  background-color: red;
  font-size: 30px;
}

.voltar-creditos p {
  transform: rotate(45deg);
  color: white;
  user-select: none;
}


.game-logo {
  margin-bottom: 50px;
  pointer-events: none;
}

.usernames {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  transition: 1s ease;
  pointer-events: auto;
}

.invisibilidade {
  transform: translateY(400px);
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.usernames div:nth-of-type(1) p {
  color: rgb(255, 255, 255);
  text-shadow: red 0px 0px 10px, red 0px 0px 20px, red 0px 0px 30px;
}

.usernames div:nth-of-type(2) p {
  color: rgb(255, 255, 255);
  text-shadow: blue 0px 0px 10px, blue 0px 0px 20px, blue 0px 0px 30px;
}

.usernames div:nth-of-type(1) input {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0.678);
  font-family: 'Amiga Forever', sans-serif;
}

.usernames div:nth-of-type(2) input {
  color: rgb(255, 255, 255);
  background-color: rgba(17, 0, 255, 0.459);
  font-family: 'Amiga Forever', sans-serif;
}

.botao {
  text-align: center;
  color: white;
  padding: 20px;
  width: 200px;
  background-image: radial-gradient(rgb(37, 197, 23), rgb(0, 53, 4));
  box-shadow: #000000 5px 5px 0px;
  border-radius: 13px;
  border: 2px solid transparent;
  animation: color-animation 5s linear infinite alternate;
  transition: 0.2s ease-in;
  font-family: 'Amiga Forever', sans-serif;
}

.botao:hover {
  background-image: radial-gradient(rgb(103, 255, 89), rgb(0, 54, 5));
  color: black;
}

.voltar {
  position: absolute;
  top: -60px;
  left: 0;
  background-image: radial-gradient(rgb(197, 23, 23), rgb(53, 0, 0));
  padding: 10px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: 'Amiga Forever', sans-serif;
  letter-spacing: -3px;
  border: solid #000;
}

.voltar:hover {
  background-image: radial-gradient(rgb(255, 137, 137), rgb(128, 0, 0));
  transition: 0.2s ease-in;
}

@keyframes color-animation {
  0% {
    border-color: rgb(16, 94, 0);
  }

  25% {
    border-color: rgb(123, 255, 0);
  }

  50% {
    border-color: green;
  }

  75% {
    border-color: rgb(102, 255, 0);
  }

  100% {
    border-color: rgb(6, 68, 0);
  }
}

.uppercase-input {
  text-transform: uppercase;
  height: 25px;
  width: 150px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.botao-partida {
  opacity: 0.5;
  font-family: 'Amiga Forever', sans-serif;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-image: radial-gradient(rgb(190, 190, 190), rgb(56, 56, 56));
  position: absolute;
  bottom: 5px;
  transition: 0.2s ease-in;
  border: solid;
  pointer-events: none;

}


.botao-partida-liberado {
  font-family: 'Amiga Forever', sans-serif;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-image: radial-gradient(rgb(37, 197, 23), rgb(0, 53, 4));
  position: absolute;
  bottom: 5px;
  transition: 0.2s ease-in;
  border: solid;
  animation: color-animation 5s linear infinite alternate;
  pointer-events: auto;
  transition: 0.2s ease-in;

}

.botao-partida-liberado:hover {
  border: solid;
  background-image: radial-gradient(rgb(126, 231, 116), rgb(1, 165, 14));
  color: white;
  animation: color-animation 5s linear infinite alternate;

}

.creditos ::-webkit-scrollbar {
  width: 12px;
  /* Largura da barra de rolagem */
  background-color: #a87245;
  /* Cor de fundo da barra de rolagem */
}

.creditos ::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  /* Cor da barra de rolagem */
}

/* Para navegadores que não suportam scrollbar-color */
/* Estes valores podem variar entre navegadores, nem todos os navegadores suportam essas propriedades */
.creditos ::-webkit-scrollbar-track {
  background-color: #7c5735;
  /* Cor de fundo da barra de rolagem */
}

.creditos ::-webkit-scrollbar-thumb {
  background-color: #d1a072;
  /* Cor da barra de rolagem */
}

footer {
  position: absolute;
  bottom: 0;
  left: 10px;
  color: rgba(255, 255, 255, 0.63);
}