@media (max-width: 700px) {
    .game-logo {
        height: 150px;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        width: fit-content;
        height: fit-content;
    }

    .botao {
        margin-bottom: 20px;
    }

    .creditos {
        width: 100%;
    }

    .usernames {
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .botao-partida, .botao-partida-liberado {
        position: relative;
    }

}