.carta {
    height: 100px;
    width: 70px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.7s ease-out;
}

.verso {
    background: rgb(0, 12, 65);;
    backface-visibility: hidden;

}

.face {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
}

.frente {
    background: rgb(139, 4, 45);
    transform: rotateY(180deg);
}

.virarCarta {
    transform: rotateY(180deg);
}

body {
    background-color: rgb(34, 167, 207);
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.jogador-1-grade {
    border-right: solid rgb(0, 12, 65);
    display: flex;
}

.jogador-2-grade {
    border-left: solid rgb(0, 12, 65);
}

.grades {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    gap: 10px;
    padding: 3px;
 
}

.item {
    color: #fff;
    text-align: center;
}

#personagem_jogador1{
  margin-top: 20px;
}

#personagem_jogador2{
    margin-top: 20px;
}

.barraLateralEsquerda{
    background-color: rgb(0, 12, 65);
    height: 100%;
    width: 100px;
    position:absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barraLateralDireita{
    background-color: rgb(0, 12, 65);
    height: 100%;
    width: 100px;
    position:absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pontuacao{
    color: #fff;
    margin-top: 50px;
    text-align: center;
}