body {
    background-color: rgb(34, 167, 207);
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.grades {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.jogador-1-grade {
    display: flex;
    border-right:solid black;
}

.barraLateralEsquerda {
    background-color: rgb(0, 12, 65);
    height: 100%;
    width: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icones_jogador {
    margin-top: 20px;
    height: 40px;
}

.pontuacao {
    color: #fff;
    margin-top: 50px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 400px;
    gap: 10px;
    padding: 3px; 
}

.carta {
    height: 100px;
    width: 70px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.7s ease-out;
}

.verso {
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../imagens/carta-verso.png');
    z-index: 1;
}

.face {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    border: solid;
}

.frente {
    position: absolute;
    background: #fff;
    background-size: cover;
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}
.jogador-2-grade {
    display: flex;
    border-left:solid black;
}


.barraLateralDireita {
    background-color: rgb(0, 12, 65);
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.virarCarta {
    transform: rotateY(180deg);
}

.tempo {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}