.carta{
    background: black;
    height: 100px;
    width: 75px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.7s ease-out;
}

.verso{
    background: yellowgreen;
    backface-visibility: hidden;

}

.carta2{
    height: 100%;
    width: 100%;
    position: absolute;
}

.frente{
    background: pink;
    transform: rotateY(180deg);
}

.virarCarta{
    transform: rotateY(180deg);
}

body {
    background-color:rgb(221, 188, 158);
    height: 100vh;
    display: flex;
}

.um {
    border: solid brown;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dois {
    border: solid brown;
    width: 50%;
}

.grade {
    display: grid;
    gap: 12px;
    border: solid;
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Cria 4 colunas com largura igual */
    grid-template-rows: repeat(4, 1fr); /* Cria 4 linhas com altura igual */
    gap: 10px; /* Espaçamento entre as células */
    width: 300px; /* Largura do contêiner da grade */
    margin: 0 auto; /* Centraliza a grade no centro da página */
}

.grid-item {
    
    color: #fff; /* Cor do texto nas células */

    text-align: center; /* Alinhamento de texto ao centro */
}